@import "tailwindcss";
@plugin "daisyui" {
    themes: corporate --default;
  }
.body-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  transition: all 0.3s ease;
}

@media (min-width: 576px) {
  .body-container {
    max-width: 800px;
  }
}

@media (min-width: 800px) {
  .body-container {
    max-width: 850px;
  }
}

@media (min-width: 992px) {
  .body-container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .body-container {
    max-width: 1510px;
  }
}

@theme {
  --color-markoubOrange1: #ff791a;
  --color-markoubOrange2: #faf7f6;
}
